---
layout: default
title: Home
---

<div class="pages">
  
  <div class="section">
    <h2>About</h2>
    <p>
      I am a postdoctoral fellow in the Beique lab at the University of Ottawa</a></b>.
    </p>

    <div class="h-line" />
  </div>

  <div class="section">
    <h2>Short biography</h2>
    <p>
      Jonas Lehnert is a neuroscientist.
    </p>

    <div class="h-line" />
  </div>
  
  <div class="section">
    <h2>Publications</h2>

    <div class="publication">
      <div class="publication-img">
        <img src="public/images/CurrentBioImg.png" /> 
      </div>
      <div class="publication-ref">
        <p>
                    Jonas Lehnert, Kuwook Cha, Jamie Halperin, Kerry Yang, Daniel F. Zheng, Anmar Khadra, Erik P. Cook, and Arjun Krishnaswamy<br>
          <b><a href="https://www.cell.com/current-biology/fulltext/S0960-9822(23)00999-5">Visual attention to features and space in mice using reverse correlation</a></b><br>
          <i>Current Biology, 2024</i><br>

        </p>
      </div>
    </div>

    <div class="h-line" />

  </div>
  
  <div class="section">
    <h2>Talks</h2>

    <p>
      <b>Talk Title 1</b><br>
      <i>Invited talk at 
    </p>

    <p>
      <b>Title 2</b><br>
      <i>Invited talk at 
    </p>

  </div>

<!-- <div class="pages">
  {% for page in paginator.pages %}
  <div class="page">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
    {{ page.content }}
  </div>
  {% endfor %}
</div>  -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ pages.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>  -->
